body	{
  margin: 0;
	background-image: url("images/stars.jpg");
	background-position: 0px 0px;
	background-repeat: repeat;

	animation: animatedBackground 40s linear infinite;
}

* {
  color: black;
  font-family: 'Droid Sans', sans-serif;
}

.datebutton {
  background-color: #ffffff;
}

.grid-container {
}

.solid-color {
    background-color: #fff;
    min-height: 300px;
}

.datebutton h3 {
  margin-top: 0px;
}

#dateselector .col-12{
  padding-top: 0px;
}

.container2 {
    margin: 30px;
    background-color: #ffffff;
    border: none;
    border-radius: 25px;
    opacity: 0.2;
    filter: alpha(opacity=60); /* For IE8 and earlier */

}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

img {
  width: 50px;
	height: 50px;
  position: relative;
}
