body	{
  margin: 0;
	background-image: url("images/stars.jpg");
	background-position: 0px 0px;
	background-repeat: repeat;

	animation: animatedBackground 40s linear infinite;
}

* {
  color: black;
  font-family: 'Droid Sans', sans-serif;
}

.datebutton {

}

.grid-container {
  padding-top: 70px;
}

.solid-color {
    background-image: url("images/moon.jpg");
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    width: 65%;
    margin-left: 18%;
    margin-top: -400px;
    height: 800px;
    background-size: 95%;
}

.datebutton h3 {
  margin-top: 0px;
}

#dateselector .col-12{
  padding-top: 0px;
}

.container2 {
    margin: 300px 100px 30px 100px;
    background-color: #ffffff;
    border: none;
    border-radius: 25px;
    opacity: 0.2;
    filter: alpha(opacity=60); /* For IE8 and earlier */

}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

img {
  width: 800px;
	height: 800px;
  position: relative;
}
